header{
    background-color: rgb(220, 248, 220);
    padding-bottom: 5px;
}
header h1 {
    text-align: center;
    color: rgba(86, 67, 192, 0.89);
    vertical-align:bottom;
    

}
header ul li {
    list-style-type: none;
    display:inline;
   font-size: x-large;
   font-style:oblique;
   padding-left: 80px;
   margin-left: 300px;
   padding-top: 40px;
   padding-bottom: 40px;
  
}
header img {
    width:120px;
    height:120px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
body {
    background-color:rgb(255, 254, 193);
}
footer{
    padding-top: 80px;
    color: seagreen;
    font-size: small;
    margin-left: 40px;
}
footer ul li{
    list-style-type: none;
    margin-left: 0px;
}
#b img {
    height:300px;
    width: 300px;

}
main{
    text-align: center;
    font-style: oblique;
    font-size: large;
}
main h3 {
    color:purple;
    
}
#a {
    color: green;
   
}
#b {
    color: orangered;
}
#c {
    color: darkred;
}
#d {
    color: mediumvioletred;
}